-#--
-# Copyright (C) 2013  Colin J. Fuller
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

=  render :partial => "shared/subnavbar"

- keys = [:line_number, :line_alias, :species, :date_entered]
= f.row([3,3,3,3], keys, LinesController.headings_for(keys), {}, readonly_for(keys), {}) 


- keys = [:entered_by, :notebook, :plasmid_numbers]
= f.row([3,3,3,3], keys, LinesController.headings_for(keys), {}, readonly_for(keys), {})

- keys = [:genotype, :selectable_markers]
= f.row([6,6], keys, LinesController.headings_for(keys), {}, readonly_for(keys), {})

.row-fluid#description-row
  .span12
    .control-group
      = f.label(:description, LinesController.get_heading(:description), class: "label control-label label-inverse")
      .controls
        = f.text_area(:description, readonly: readonly?, rows: 3, class: "input-xxlarge")

.row-fluid#sequence-row
  .span12
    .control-group
      = f.label(:sequence, LinesController.get_heading(:sequence), class: "label control-label label-inverse")
      .controls
        = f.text_area(:sequence, readonly: readonly?, rows: 3, class: "input-xxlarge")

= render :partial=>'line_location_table'

= render :partial=>'shared/bottom_buttons'

