
=  render :partial => "shared/subnavbar"

- keys = %i[oligo_number oligoalias date_entered]
= f.row([3,6,3], keys, OligosController.headings_for(keys), {}, readonly_for(keys), {}) 


- keys = %i[entered_by notebook vendor organism]
= f.row([3,3,3,3], keys, OligosController.headings_for(keys), {}, readonly_for(keys), {} )


.row-fluid#description-row
  .span12
    .control-group
      = f.label(:purpose, OligosController.get_heading(:purpose), class: "label control-label label-info")
      .controls
        = f.text_area(:purpose, readonly: readonly?, rows: 12, class: "input-xxlarge")


.row-fluid#sequence-row
  .span12
    .control-group
      = f.label(:sequence, OligosController.get_heading(:sequence), class: "label control-label label-info")
      .controls
        = f.text_area(:sequence, readonly: readonly?, rows: 4, class: "input-xxlarge")


= render :partial=>'shared/bottom_buttons'

