<!DOCTYPE html>
<html>
<head>
  <title>Straightlabdb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">

  <div class="navbar-inner">
    <div class="container">
      <%= link_to "ASDB", "/", id:"logo" %>
      <nav>
        <ul class="nav pull-left">
          <li class="divider-vertical"></li>
          <li><%= link_to 'Plasmids', '/plasmids' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Oligos', '/oligos'%></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Bacteria', '/bacteria' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Samples', '/samples' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Antibodies', '/antibodies' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'TC', '/tclines' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Yeast', '/yeast' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Log out', '/logout' %></li>
        </ul>
      </nav>
  </div>



</header>

<%= def status_text
      nil
    end
%>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
