- label_class = 'label control-label label-inverse'
= form_for(@user, html: {multipart: true, class: "form-vertical"}) do |f|
  .row-fluid
    .span3
      .control_group
        = f.label(:name, 'Name', class: label_class)
        .controls= f.text_field(:name)
    .span3
      .control_group
        = f.label(:email, 'E-mail', class: label_class)
        .controls= f.text_field(:email)
  .row-fluid
    .span6
      .control_group
        = f.label(:notes, 'Notes', class: label_class)
        .controls= f.text_area(:notes, rows: 2, class: "input-xlarge")
  .row-fluid
    .span2= submit_tag 'Save', class: "btn btn-success"