-#--
-# Copyright (C) 2013  Colin J. Fuller
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

= page_entries_info @table_objects
= paginate @table_objects


%table{class: "table table-striped table-condensed table-hover table-bordered"}
  %thead
    %tr
      %th
        - header = @controller.get_heading(@table_columns[:sort]).gsub(" ", "&nbsp;").html_safe
        %div{class: @reverse_sorted ? 'dropup' : 'dropdown'}><
          .nowrap
            .nowrap-row
              .nowrap-cell= header
              .nowrap-cell
                .btn-group><
                  %a{class: "btn btn-link dropdown-toggle btn-mini", href: url_for(params.merge(sort_order: @reverse_sorted ? 'ASC' : 'DESC'))}
                    %span.caret

      - @table_columns[:others].each do |tc|
        %th= @controller.get_heading(tc).gsub(" ", "&nbsp;").html_safe
      %th= ""

  %tbody
    - @table_objects.each do |obj|
      %tr
        %td= obj.send(@table_columns[:sort])
        - @table_columns[:others].each do |tc|
          %td= obj.send(tc)        
        %td
          .nowrap-row
            .nowrap-cell= link_to 'Show', polymorphic_path(obj, search_id: @search_id), class: "btn btn-mini btn-info"
            -if @auth_is_rw then
              .nowrap-cell= "&nbsp;".html_safe
              .nowrap-cell= link_to 'Edit', edit_polymorphic_path(obj), class: "btn btn-mini btn-info"
              .nowrap-cell= "&nbsp;".html_safe         
              .nowrap-cell= link_to 'Destroy', obj, confirm: "Delete #{Naming.name_for(obj.class)}#{obj.number_field}?  Are you sure?", method: :delete, class: "btn btn-mini btn-danger"
= paginate @table_objects

