-#--
-# Copyright (C) 2013  Colin J. Fuller
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

%li.divider-vertical
- if readonly? then
	%li.dropdown
		%a.dropdown-toggle{'data-toggle' => "dropdown", href: '#'}
			Other Actions
			%span.caret
		%ul.dropdown-menu{role: "menu", 'aria-labelledby' => "dLabel"}

			%li= link_to 'Export YAML', polymorphic_path(@obj, action: "export", exportformat: :yml)
			- if @obj.respond_to? :has_sequence? and @obj.has_sequence? then
				%li= link_to 'Export FASTA', polymorphic_path(@obj, action: "export", exportformat: :fasta)

			%li= link_to 'Edit', edit_polymorphic_path(@obj)
			%li= link_to 'Duplicate', polymorphic_path(@obj, action: "new", id: @obj.id)
	
	%li.divider-vertical
	%li= link_to '&larr; Previous'.html_safe, polymorphic_path(@obj, action: "previous", id: @obj.id)
	%li.divider-vertical
	%li= link_to 'Next &rarr;'.html_safe, polymorphic_path(@obj, action: "next", id: @obj.id)
	%li.divider-vertical
- else
	%li= link_to 'Cancel', @obj

