<div class="container hero-unit">
	<div class="row-fluid">
		<div class="span2">
			<div class="control-group">
				<label class="label control-label label-info">
					<%=h PlasmidsController.get_heading(:plasmidnumber) %>
				</label>
				<div class="controls">
					<%= f.text_field(:plasmidnumber, :disabled=>readonly?, :class=>"input-small") %>
				</div>
			</div>
		</div>
		<div class="span6">
		</div>


      <%= render :partial=>'top_editing_buttons' %>

		
	</div>
	
	
	<div class="row-fluid">
		<div class="span3">
			<div class="control-group">
				<label class="label control-label">
					<%=h PlasmidsController.get_heading(:enteredby) %>
				</label>
				<div class="controls">
					<%= f.text_field(:enteredby, :disabled=>readonly?, :class=>"input-large") %>
				</div>
			</div>
		</div>
		<div class="span3">
			<label class="label control-label">
				<%=h PlasmidsController.get_heading(:notebook) %>
			</label>
			<div class="controls">
				<%= f.text_field(:notebook, :disabled=>readonly?, :class=>"input-small") %>
			</div>
		</div>
		<div class="span3">
			<div class="control-group">
				<label class="label control-label">
					<%=h PlasmidsController.get_heading(:verified) %>
				</label>
				<div class="controls">
					<%= f.check_box(:verified, :disabled=>readonly?, :class=>"inline") %>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="control-group">
				<label class="label control-label">
					<%=h PlasmidsController.get_heading(:date_entered) %>
				</label>
				<div class="controls">
					<%= f.text_field(:date_entered, :disabled=>readonly?, :class=>"input-small") %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span6">
			<div class="control-group">
				<label class="label control-label label-info">
					<%=h PlasmidsController.get_heading(:plasmidalias) %>
				</label>
				<div class="controls">
					<%= f.text_field(:plasmidalias, :disabled=>readonly?) %>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="control-group">
				<label class="label control-label">
					<%=h PlasmidsController.get_heading(:vector) %>
				</label>
				<div class="controls">
					<%= f.text_field(:vector, :disabled => readonly?, :class=>"input-large")%>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="control-group">
				<label class="label control-label">
					<%=h PlasmidsController.get_heading(:strainnumbers) %>
				</label>
				<div class="controls">
					<%= f.text_field(:strainnumbers, :disabled=>readonly?) %>
				</div>
			</div>
		</div>

	</div>
	
	
	<div class="row-fluid">
		<div class="span6">
			<div class="control-group">
				<label class="label control-label" for="inlineCheckboxes">
					<%=h PlasmidsController.get_heading(:antibiotic) %>
				</label>
				<div class="controls">
					<% Plasmid.get_antibiotics.each_key do |k| %>
						<label class="checkbox inline">
							<%= Plasmid.get_antibiotics[k] %>
						</label>
						<%=	f.check_box(Plasmid.get_antibiotics[k].to_sym, :disabled=>readonly?) %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="control-group">
				<label class="label control-label">
					<%=h PlasmidsController.get_heading(:concentration) %>
				</label>
				<div class="controls">
					<%= f.text_field(:concentration, :disabled=>readonly?, :class=>"input-large") %>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="control-group">
				<label class="label control-label">
					<%=h PlasmidsController.get_heading(:plasmidsize) %>
				</label>
				<div class="controls">
					<%= f.text_field(:plasmidsize, :disabled=>true) %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row-fluid" id="description-row">
		<div class="span12">
			<div class="control-group">
				<label class="label control-label label-info">
					<%=h PlasmidsController.get_heading(:description) %>
				</label>
				<div class="controls">
					<%= f.text_area(:description, :disabled=>readonly?, :rows=>12, :class=>"input-xxlarge")%>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid" id="sequence-row">
		<div class="span12">
			<div class="control-group">
				<label class="label control-label label-info">
					<%=h PlasmidsController.get_heading(:sequence) %>
				</label>
				<div class="controls">
					<%= f.text_area(:sequence, :disabled=>readonly?, :rows=>4, :class=>"input-xxlarge")%>
				</div>
			</div>
		</div>
	</div>

  <%= render partial:'map_display', locals: {:f => f}  %>


  <%= render :partial=>'bottom_buttons' %>


</div>

	