<h2>Search the ASPlasmid database:</h2>

<%= def readonly?
		false
	end
%>

<%= def submit_text
	"Search"
	end
%>

<%= form_for(@plasmid, :html => {:multipart => true}, :method=>'get') do |f| %>
  <% if @plasmid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plasmid.errors.count, "error") %> prohibited this plasmid from being saved:</h2>

      <ul>
      <% @plasmid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%=	f.check_box(:search_by_regex, :size=>2) %>
	<%= f.label(:search_by_regex, "Search by regular expression")%>
	
	<%= render :partial=>'plasmid_display', :locals=>{:f => f} %>


<% end %>

