-#--
-# Copyright (C) 2013  Colin J. Fuller
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

=  render :partial => "shared/subnavbar"

.row-fluid
  - keys = [:plasmidnumber]
  = f.span_series([2], keys, PlasmidsController.headings_for(keys), {plasmidnumber: true}, readonly_for(keys), {})
  .span6

- keys = [:enteredby, :notebook, :verified, :date_entered]
= f.row([3,3,3,3], keys, PlasmidsController.headings_for(keys), {}, readonly_for(keys), {verified: true})

- keys = [:plasmidalias, :vector, :strainnumbers]
= f.row([6,3,3], keys, PlasmidsController.headings_for(keys), {plasmidalias: true}, readonly_for(keys), {})

.row-fluid
  .span6
    .control-group
      %label{class: "label control-label label-inverse", for: "inlineCheckboxes"}
        = PlasmidsController.get_heading(:antibiotic)
      .controls
        - Plasmid.get_antibiotics.each_key do |k|
          %label{class: "checkbox inline"}
            = f.check_box(Plasmid.get_antibiotics[k].to_sym, disabled: readonly?)
            = Plasmid.get_antibiotics[k]
                        

  - keys = [:concentration, :plasmidsize]

  = f.span_series([3,3], keys, PlasmidsController.headings_for(keys), {}, {concentration: readonly?, plasmidsize: true}, {})

= render partial: "shared/editing_description", locals: {f: f}

.row-fluid#sequence-row
  .span12
    .control-group
      = f.label(:sequence, PlasmidsController.get_heading(:sequence), class: "label control-label label-inverse")

      .controls= f.text_area(:sequence, readonly: readonly?, rows: 4, class: "input-xxlarge")


= render partial: "shared/bottom_buttons"
