-#--
-# Copyright (C) 2013  Colin J. Fuller
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

=  render :partial => "shared/subnavbar"

- keys = [:oligo_number, :oligoalias, :date_entered]
= f.row([3,6,3], keys, OligosController.headings_for(keys), {}, readonly_for(keys), {}) 


- keys = [:entered_by, :notebook, :vendor, :organism]
= f.row([3,3,3,3], keys, OligosController.headings_for(keys), {}, readonly_for(keys), {})


.row-fluid#description-row
  .span12
    .control-group
      = f.label(:purpose, OligosController.get_heading(:purpose), class: "label control-label label-info")
      .controls
        = f.text_area(:purpose, readonly: readonly?, rows: 12, class: "input-xxlarge")


.row-fluid#sequence-row
  .span12
    .control-group
      = f.label(:sequence, OligosController.get_heading(:sequence), class: "label control-label label-info")
      .controls
        = f.text_area(:sequence, readonly: readonly?, rows: 4, class: "input-xxlarge")


= render :partial=>'shared/bottom_buttons'

