-#--
-# Copyright (C) 2013  Colin J. Fuller
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

!!!
%html
  %head
    %meta{name: "google-signin-client_id",
          content: "413612736524-90sshskkh7m2sn1jta2gpfi7io5ou850.apps.googleusercontent.com"}
    %script{src: "https://apis.google.com/js/platform.js", async: true, defer: true}
    %title= ApplicationController::DATABASE_SYSTEM_NAME
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Montserrat:400"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Rokkitt:400"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Source+Code+Pro"
    = stylesheet_link_tag "//fonts.googleapis.com/icon?family=Material+Icons"
    = stylesheet_link_tag "//fonts.googleapis.com/icon?family=Lato:400,700"
    %link{rel: "stylesheet", type: "text/css", href: "/_s/plasmid-map.css"}
    -#= stylesheet_link_tag "/_s/app.css"
    = csrf_meta_tags
    :css
      .auto-link {
        text-decoration: none;
        color: #007799;
      }
      .auto-link:hover {
        color: #009977;
        text-decoration: underline;
      }

  %body{style: "margin: 0;"}
    %div#body
    -# .navbar.navbar-fixed-top.navbar-inverse
    -#   .navbar-inner
    -#     .container
    -#       = link_to ApplicationController::DATABASE_SYSTEM_SHORT_NAME, "/", id:"logo", class: 'brand'
    -#       %nav
    -#         %ul.nav
    -#           %li= link_to 'Plasmids', '/plasmids'
    -#           %li= link_to 'Oligos', '/oligos'
    -#           %li= link_to 'Bacteria', '/bacteria'
    -#           %li= link_to 'Samples', '/samples'
    -#           %li= link_to 'Antibodies', '/antibodies'
    -#           %li= link_to 'TC', '/lines'
    -#           %li= link_to 'Yeast', '/yeaststrains'
    -#           - if @logged_in
    -#             %li{class: "dropdown"}
    -#               %a.dropdown-toggle.info-popup{'data-toggle' => "dropdown"}
    -#                 %i.icon-user.icon-white
    -#                 = "#{@user_name}"
    -#               %ul.dropdown-menu
    -#                 %li.disabled
    -#                   %a#user-email= "#{@user_email}"
    -#                 = render partial: 'shared/admin_menu'
    -#                 %li.divider
    -#                 %li= link_to 'Log out', '/logout', {id: 'logout-button'}
    .container
    %script{type: "text/javascript"}
      = "window._labdbPrefetch = #{@content_json};".html_safe
      = "window._labdbUser = '#{@user_name || ""}';".html_safe
      = "window._labdbAuth = '#{@user_auth || ""}';".html_safe
      = "window._labdbSearchResults = #{@search_results};".html_safe
    - if @login_page
      %div#landing
      %script{type: "text/javascript"}
        = "window._labdbName = '#{@labdb_name}';".html_safe
    = javascript_include_tag "/_s/app.js"
