-#--
-# Copyright (C) 2013  Colin J. Fuller
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

!!!
%html
  %head
    %title= ApplicationController::DATABASE_SYSTEM_NAME
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body

    %header{class: "navbar navbar-fixed-top navbar-inverse"}

      .navbar-inner
        .container
          = link_to ApplicationController::DATABASE_SYSTEM_SHORT_NAME, "/", id:"logo"
          %nav
            %ul{class: "nav pull-left"}
              %li.divider-vertical
              %li= link_to 'Plasmids', '/plasmids'
              %li.divider-vertical
              %li= link_to 'Oligos', '/oligos'
              %li.divider-vertical
              %li= link_to 'Bacteria', '/bacteria'
              %li.divider-vertical
              %li= link_to 'Samples', '/samples'
              %li.divider-vertical
              %li= link_to 'Antibodies', '/antibodies'
              %li.divider-vertical
              %li= link_to 'TC', '/lines'
              %li.divider-vertical
              %li= link_to 'Yeast', '/yeaststrains'
              %li.divider-vertical
              %li= link_to 'Log out', '/logout'


    .container= yield

    = javascript_include_tag "application"
