-#--
-# Copyright (C) 2013  Colin J. Fuller
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#++

!!!
%html
  %head
    %title= ApplicationController::DATABASE_SYSTEM_NAME
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Montserrat:400"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Rokkitt:400"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Source+Code+Pro"
    = stylesheet_link_tag "//fonts.googleapis.com/icon?family=Material+Icons"
    = stylesheet_link_tag "//fonts.googleapis.com/icon?family=Open+Sans:400,600"
    -#= stylesheet_link_tag "/_s/app.css"
  %body#body
    %div#navbar-top
    -# .navbar.navbar-fixed-top.navbar-inverse
    -#   .navbar-inner
    -#     .container
    -#       = link_to ApplicationController::DATABASE_SYSTEM_SHORT_NAME, "/", id:"logo", class: 'brand'
    -#       %nav
    -#         %ul.nav
    -#           %li= link_to 'Plasmids', '/plasmids'
    -#           %li= link_to 'Oligos', '/oligos'
    -#           %li= link_to 'Bacteria', '/bacteria'
    -#           %li= link_to 'Samples', '/samples'
    -#           %li= link_to 'Antibodies', '/antibodies'
    -#           %li= link_to 'TC', '/lines'
    -#           %li= link_to 'Yeast', '/yeaststrains'
    -#           - if @logged_in
    -#             %li{class: "dropdown"}
    -#               %a.dropdown-toggle.info-popup{'data-toggle' => "dropdown"}
    -#                 %i.icon-user.icon-white
    -#                 = "#{@user_name}"
    -#               %ul.dropdown-menu
    -#                 %li.disabled
    -#                   %a#user-email= "#{@user_email}"
    -#                 = render partial: 'shared/admin_menu'
    -#                 %li.divider
    -#                 %li= link_to 'Log out', '/logout', {id: 'logout-button'}
    .container
      %script{type: "text/javascript"}
        = "window._labdbPrefetch = #{@content_json}".html_safe
    = javascript_include_tag "/_s/third_party.js"
    = javascript_include_tag "/_s/app.js"
